@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{
    margin:0;
    padding:0;
}

.logo{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 30%;
    background-color: white;
    border: 3px solid white; 
    border-radius: 55px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0%;
    cursor: pointer;


}

.nav-list{
    width: 70%;
    /* background-color: black; */
    display: flex;
    align-items: center;


}

.nav-list li{
    list-style: none;
    padding: 26px 20px;


}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20 px;
    font-family: 'Ubuntu', sans-serif;

}
.nav-list li a:hover{
    color: grey;
}

.rightNav {
    /* background-color: violet; */
    width:30%;
    text-align: right;
    padding: 0 23px;
}

#search{
    padding: 3px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 7px;
}

.background{
    background: rgba(34, 31, 31, 0.9) url('../lal_minar_and_classrooms.jpg');
    background-size: cover;
    background-blend-mode: darken;
 
}
.firstsection{
    height: 100vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
    
}
.firsthalf{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.secondhalf{
    width:30%;
}

.secondhalf img{
    width: 100%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 41px;

}

.text-small{
    font-size: 18px;
}

.btn{
    padding: 8px 20px;
    margin: 7px 2px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 18px;
    background:none;
    color: white;
    cursor: pointer; 
    /* pointer ban zata hai by cursor pointer */
}

.btn-dark{
    color: #ffdfdf;
    border: 2px solid #aba9a7;
    background: #b7330b;
}

.btn-sm{
    padding: 4px 10px;
    vertical-align: baseline;
}

.section{
    /* height: 350px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    /* margin: auto; */
    margin: 21px 130px;
    font-family: 'Ubuntu', sans-serif;
    
}

.section-left{
   flex-direction: row-reverse;
    
}

.paras{
    padding: 0 65px;
}

.sectiontag{
    padding: 16px 0;
}

.sectionSubTag{
    font-family: Arial, Helvetica, sans-serif;
}

.thumbnail img{
    width: 300px;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 38px;
}

.contact{
    background-color: rgb(231, 238, 245);
    height: 100 vh;
}

.text-center{
    text-align: center;
    padding: 24px;
    font-family:'Ubuntu', sans-serif;
    font-size: 40px;

}

.form{
    max-width: 500px;
    margin: -4px auto;
}

.form-input{
    margin: 14px 0;
    padding: 5px 3px;
    width:100%;
    font-size: 24px;
    border: 2px solid grey;
    border-radius: 6px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.burger{
    position:absolute;
    display: none;
    cursor: pointer;
    right: 5%;
    top: 15px;

}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;  
}

.btn:hover{
    background-color: rgb(14, 1, 1);

}

/* Footer */

/* .footer {
    background: #303036;
    color: #d3d3d3;
    height: 400px;
    position: relative;
}

.footer .footer-content {
    height: 350px;
    display: flex; */
    /* border: 1px solid red; */
/* }

.footer .footer-content .footer-section { */
    /* to give equal amount of space to each section horizontally */
    /* flex: 1;
    padding: 25px; */
    /* border: 1px solid white; */
/* }

.footer .footer-bottom {
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
} */

/* Footer ended */



/* making website responsive */
@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        height: 480px;
        transition: all 0.7s ease-out;
    }
    .rightNav{
        text-align: center;
    }
    #search{
        width: 100%
    }
    .burger{
        display: block;
    }
    .h-nav-resp{

        height: 65px;
    }
    .v-class-resp{
        opacity: 0%;
    }

    .firstsection{
        height: 180vh;
    }

    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-big{
        text-align: center;
        font-size: 150%;
    }
    .text-small{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }
    .form{
        max-width: 75%;
    }
}
